<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">Create Your Account</h1>
        <form action="/signup" method="POST"  novalidate class="needs-validation">
            
            <div class="mb-3">
                <label for="username"  class="form-label">Full Name</label>
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    required 
                    placeholder="Enter your full name" 
                    class="form-control"
                >
            </div>

            <div class="mb-3">
                <label for="email"  class="form-label">Email Address</label>
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    required 
                    placeholder="Enter your email address" 
                    class="form-control"
                >
            </div>

            <div class="mb-3">
                <label for="password"  class="form-label">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    required 
                    placeholder="Create a password" 
                    class="form-control"
                >
            </div>

            <div class="mb-3">
                <button 
                    type="submit" 
                    class="btn btn-success mb-3"
                >
                    Sign Up
                </button>
            </div>

            
            <p class="text-center text-sm text-gray-600">
                Already have an account? 
                <a href="/login" class="text-indigo-500 font-medium hover:underline">Log in</a>
            </p>
        </form>
    </div>
</div>
